$primary: #ff5a87;
$secondary: #7f50c6;
$accent: #9c27b0;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

$cream: #fff0e4;

.text-cream {
  color: $cream !important;
}
.bg-cream {
  background: $cream !important;
}
